In [8]:
import pandas as pd

In [9]:
data2017=pd.read_csv("2017.csv")
data2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,410,10/1/2017 0:03,10/1/2017 0:09,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,26187,Subscriber,1976.0,1
1,412,10/1/2017 0:03,10/1/2017 0:10,3213,Van Vorst Park,40.718489,-74.047727,3192,Liberty Light Rail,40.711242,-74.055701,31768,Subscriber,1975.0,2
2,274,10/1/2017 0:24,10/1/2017 0:28,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,26311,Subscriber,1979.0,1
3,2198,10/1/2017 0:31,10/1/2017 1:07,3199,Newport Pkwy,40.728745,-74.032108,3183,Exchange Place,40.716247,-74.033459,31709,Subscriber,1994.0,1
4,166,10/1/2017 0:34,10/1/2017 0:36,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,31759,Subscriber,1967.0,2

In [10]:
data2018=pd.read_csv("2018.csv")
data2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,260,11/1/2019 0:02,11/1/2019 0:07,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26314,Subscriber,1964,1
1,285,11/1/2019 0:05,11/1/2019 0:10,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,26238,Subscriber,1986,2
2,501,11/1/2019 0:05,11/1/2019 0:14,3186,Grove St PATH,40.719586,-74.043117,3192,Liberty Light Rail,40.711242,-74.055701,29645,Subscriber,1995,1
3,556,11/1/2019 0:07,11/1/2019 0:17,3209,Brunswick St,40.724176,-74.050656,3678,Fairmount Ave,40.725726,-74.071959,29221,Customer,1992,1
4,321,11/1/2019 0:11,11/1/2019 0:17,3273,Manila & 1st,40.721651,-74.042884,3273,Manila & 1st,40.721651,-74.042884,29591,Subscriber,1988,1

In [11]:
combine_data=data2017.append(data2018, ignore_index=False)

In [12]:
print(combine_data)

       tripduration         starttime          stoptime  start station id  \
0               410    10/1/2017 0:03    10/1/2017 0:09              3213
1               412    10/1/2017 0:03    10/1/2017 0:10              3213
2               274    10/1/2017 0:24    10/1/2017 0:28              3195
3              2198    10/1/2017 0:31    10/1/2017 1:07              3199
4               166    10/1/2017 0:34    10/1/2017 0:36              3186
...             ...               ...               ...               ...
30792            77  11/30/2019 23:30  11/30/2019 23:31              3638
30793           145  11/30/2019 23:40  11/30/2019 23:43              3211
30794            99  11/30/2019 23:41  11/30/2019 23:43              3792
30795           594  11/30/2019 23:52    12/1/2019 0:02              3213
30796           329  11/30/2019 23:56    12/1/2019 0:01              3185

               start station name  start station latitude  \
0                  Van Vorst Park               40.718489
1                  Van Vorst Park               40.718489
2                         Sip Ave               40.730743
3                    Newport Pkwy               40.728745
4                   Grove St PATH               40.719586
...                           ...                     ...
30792               Washington St               40.724294
30793                  Newark Ave               40.721525
30794  Columbus Dr at Exchange Pl               40.716870
30795              Van Vorst Park               40.718489
30796                   City Hall               40.717733

       start station longitude  end station id    end station name  \
0                   -74.047727            3192  Liberty Light Rail
1                   -74.047727            3192  Liberty Light Rail
2                   -74.063784            3194     McGinley Square
3                   -74.032108            3183      Exchange Place
4                   -74.043117            3213      Van Vorst Park
...                        ...             ...                 ...
30792               -74.035483            3202        Newport PATH
30793               -74.046305            3278    Monmouth and 6th
30794               -74.032810            3639          Harborside
30795               -74.047727            3639          Harborside
30796               -74.043845            3267        Morris Canal

       end station latitude  end station longitude  bikeid    usertype  \
0                 40.711242             -74.055701   26187  Subscriber
1                 40.711242             -74.055701   31768  Subscriber
2                 40.725340             -74.067622   26311  Subscriber
3                 40.716247             -74.033459   31709  Subscriber
4                 40.718489             -74.047727   31759  Subscriber
...                     ...                    ...     ...         ...
30792             40.727224             -74.033759   29492  Subscriber
30793             40.725685             -74.048790   40971  Subscriber
30794             40.719252             -74.034234   26198  Subscriber
30795             40.719252             -74.034234   29527  Subscriber
30796             40.712419             -74.038526   26163  Subscriber

       birth year  gender
0          1976.0       1
1          1975.0       2
2          1979.0       1
3          1994.0       1
4          1967.0       2
...           ...     ...
30792      1979.0       1
30793      1978.0       1
30794      1991.0       1
30795      1981.0       1
30796      1977.0       1

[65716 rows x 15 columns]

In [13]:
combine_data.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
30792,77,11/30/2019 23:30,11/30/2019 23:31,3638,Washington St,40.724294,-74.035483,3202,Newport PATH,40.727224,-74.033759,29492,Subscriber,1979.0,1
30793,145,11/30/2019 23:40,11/30/2019 23:43,3211,Newark Ave,40.721525,-74.046305,3278,Monmouth and 6th,40.725685,-74.048790,40971,Subscriber,1978.0,1
30794,99,11/30/2019 23:41,11/30/2019 23:43,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,26198,Subscriber,1991.0,1
30795,594,11/30/2019 23:52,12/1/2019 0:02,3213,Van Vorst Park,40.718489,-74.047727,3639,Harborside,40.719252,-74.034234,29527,Subscriber,1981.0,1
30796,329,11/30/2019 23:56,12/1/2019 0:01,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,26163,Subscriber,1977.0,1

In [14]:
combine_data.to_csv("MergedBikeData2017to2018.csv", index=False)